{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
           Deteccion de retinopatia diabetica
        </h1>
        <h2 class="text-center">
            RESNET
         </h2>
    </div>
    <div>
        <h1> Ingrese un formato valido</h1>
    </div>


{% endblock %}