{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
           Deteccion de retinopatia diabetica
        </h1>
        <h2 class="text-center">
            RESNET
         </h2>
    </div>

    <form class="form-inline" action="/upload" enctype='multipart/form-data' method='POST'>
        <div class="form-group mb-2"  class="form-row align-items-center">
            <label for="formFile" class="form-label">Por favor seleccione una imagen para ser evaluda:</label>
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <button type = "submit" value = "upload" class="btn btn-primary">Cargar</button>
    </form>

    <br><br>

    <h4> Imagen cargada: {{userinput}}</h4>
    <div aling="center">
        <img class="rounded mx-auto d-block" src = "{{url_for ('static', filename = './images/test.jpg')}}" width = "200" height = "200"/>
    </div>

    <br>

    <div class="form-group mb-2"  class="form-row align-items-center">
        <label class="form-label">Estadio de retinopatia diabetica: <b>{{category}}</b></label>
        <br>
        <label class="form-label">Probabilidad: <b>{{probability}}</b></label>
        <br>
        <label class="form-label">Probabilidad del modelo: <b>{{model_probabilities}}</b></label>
        <br>
    </div>



{% endblock %}