{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
           Deteccion de retinopatia diabetica
        </h1>
        <h2 class="text-center">
            RESNET
         </h2>
    </div>

    <form class="form-inline" action="/upload" enctype='multipart/form-data' method='POST'>
        <div class="form-group mb-2"  class="form-row align-items-center">
            <label for="formFile" class="form-label">Por favor seleccione una imagen para ser evaluda:</label>
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <button type = "submit" value = "upload" class="btn btn-primary">Cargar</button>
    </form>


{% endblock %}
