<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Analitica de Datos</title>


</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid col-sm-12">
          <a class="navbar-brand" href="#">Universidad Central, Analitica de Datos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="index">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="tecnolog">Acerca de nosotros</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

      <main>
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xm-12">
                      <div class="ml-auto mr-auto">
                        {% block content %}
                        {% endblock %}
                      </div>
                  </div>
              </div>
          </div>
      </main>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 400,
        duration: 1000
      });
     
    </script>

   
  
</body>
</html>